node_modules
.git
.gitignore
.env
.env.*
!.env.example
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache/*
!bootstrap/cache/.gitkeep
public/hot
public/build
vendor
.phpunit*
.editorconfig
*.md
docker-compose*
.dockerignore
.gitattributes
phpunit.xml
coverage
tests
