APP_NAME=Laravel
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=db.qsbeluygtxexjcrxwbme.supabase.co
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=123edwarM@..
DB_SSLMODE=require

PGHOST=db.qsbeluygtxexjcrxwbme.supabase.co
PGPORT=6543
PGDATABASE=postgres
PGUSER=postgres
PGPASSWORD=123edwarM@..
PGSSLMODE=require
PGOPTIONS="-c tcp_keepalives_idle=60 -c tcp_keepalives_interval=60"

PORT=8080