APP_NAME=Laravel
APP_ENV=production
APP_KEY=base64:63sY4C2Oa3s5fJ+LWnAMmOHjw6mdm4JxU2ZmqIdzdJs=
APP_DEBUG=false
APP_URL=https://tu-app.onrender.com

DB_CONNECTION=pgsql
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.qsbeluygtxexjcrxwbme
DB_PASSWORD=123edwarM@..
DB_SSLMODE=require

PGHOST=aws-0-us-east-1.pooler.supabase.com
PGPORT=6543
PGDATABASE=postgres
PGUSER=postgres.qsbeluygtxexjcrxwbme
PGPASSWORD=123edwarM@..
PGSSLMODE=require

PORT=8080
SESSION_DRIVER=cookie
CACHE_DRIVER=array
QUEUE_CONNECTION=sync