APP_NAME=VideoConf
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tu-app.onrender.com

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=
DB_PASSWORD=
DB_SSLMODE=require

RESEND_API_KEY=
MAIL_MAILER=resend
MAIL_FROM_ADDRESS=onboarding@resend.dev
MAIL_FROM_NAME="VideoConf Reservas"
MAIL_TO_ADDRESS=

PORT=8080
SESSION_DRIVER=cookie
CACHE_DRIVER=array
QUEUE_CONNECTION=sync
